# ASSIGNMENT CONFIG
init_cell: true
export_cell: 
    pdf: false
generate: true
files:
    - data/hybrid.csv
    - images/hybrid-car.png

# Run the cell below

To run a code cell (i.e.; execute the python code inside a Jupyter notebook) you can click the play button on the ribbon underneath the name of the notebook. Before you begin click the "Run cell" button at the top that looks like â–¶| or hold down `Shift` + `Return`.

# DIY00: Example Question Formats

Welcome to the Summer Institute for Data Science! During this session will create notebooks like this one. You can't learn technical subjects without hands-on practice, so these activities are an important part of the session.

**Collaboration Policy:**

Collaborating on labs is more than okay $-$ it's encouraged! You should rarely remain stuck for more than a few minutes on questions in labs, so ask a neighbor or an instructor for help. Explaining things is beneficial, too $-$ the best way to solidify your knowledge of a subject is to explain it. You should **_not just_** copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

**Due Date:** 

## Today's Assignment

In today's assignment, you'll learn how to:

- crate autograded questions

- create manually graded questions

- use the `otter assign` command to create a student notebook.

Let's get started!

**Name:** 

**Course:** 

**Date:**

## 0. Assignment Config

The first cell of the notebook, places YAML-formatted configurations in a raw cell that begins with the comment `# ASSIGNMENT CONFIG`.

```
# ASSIGNMENT CONFIG
init_cell: false
export_cell: true
generate: true
files: 
 - data/hybrid.csv
 - images/hybrid-car.png
```

**Note:** Files that are required for the assignment must be listed in the assignment configuration block.

## 1. Autograded Question

Here are examples of an atuograded question:

# BEGIN QUESTION
name: q1

**Question 1.** How many seconds are in a week?

# BEGIN SOLUTION

In [4]:
secs_in_week = 7 * 24 * 60 * 60 # SOLUTION
secs_in_week

604800

# END SOLUTION

# BEGIN TESTS

In [5]:
secs_in_week == 604800

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2

**Question 2.** How many seconds are in a week?

# BEGIN SOLUTION

In [6]:
secs_in_week = 7 * 24 * 60 * 60 # SOLUTION
secs_in_week

604800

# END SOLUTION

# BEGIN TESTS

In [7]:
secs_in_week == 604800

True

In [8]:
# HIDDEN 
type(secs_in_week) == int

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3

**Question 3.** How many seconds are in a week?

# BEGIN SOLUTION

In [9]:
secs_in_week = 7 * 24 * 60 * 60 # SOLUTION
secs_in_week

604800

# END SOLUTION

# BEGIN TESTS

In [10]:
secs_in_week != ...

True

In [11]:
isinstance(secs_in_week, int)

True

In [12]:
secs_in_week == 604800

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4

**Question 4.** How many seconds are in a week?

# BEGIN SOLUTION

In [13]:
secs_in_week = 7 * 24 * 60 * 60 # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [14]:
""" # BEGIN TEST CONFIG
failure_message: Did you forget to enter an expression?
""" # END TEST CONFIG 
secs_in_week != ...

True

In [15]:
""" # BEGIN TEST CONFIG
failure_message: Check the data type of your result.
""" # END TEST CONFIG  
isinstance(secs_in_week, int)

True

In [16]:
# HIDDEN
secs_in_week == 604800

True

# END TESTS

# END QUESTION

Here is an example of what the student will see.

**Question 1.** How many seconds in a week?

`secs_in_week` = . . .

## 2. Manually Graded Question

Here is an example of a manually graded question:

# BEGIN QUESTION
name: q5
manual: true

**Question 5.** What is your favorite day of the week?

# BEGIN SOLUTION

**SOLUTION:** My favorite day of the week is Friday. Answers may vary.

# END SOLUTION

# END QUESTION

Here is an example of what the student will see.

**Question 5.** What is your favorite day of the week?

_Type your answer here replacing this text._

## 3. Importing

Run the cell below to set up the notebook.

In [17]:
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

Read a dataset

In [18]:
hybrid = Table.read_table('data/hybrid.csv')
hybrid

vehicle         | year | msrp    | acceleration | mpg   | class
Prius (1st Gen) | 1997 | 24509.7 | 7.46         | 41.26 | Compact
Tino            | 2000 | 35355   | 8.2          | 54.1  | Compact
Prius (2nd Gen) | 2000 | 26832.2 | 7.97         | 45.23 | Compact
Insight         | 2000 | 18936.4 | 9.52         | 53    | Two Seater
Civic (1st Gen) | 2001 | 25833.4 | 7.04         | 47.04 | Compact
Insight         | 2001 | 19036.7 | 9.52         | 53    | Two Seater
Insight         | 2002 | 19137   | 9.71         | 53    | Two Seater
Alphard         | 2003 | 38084.8 | 8.33         | 40.46 | Minivan
Insight         | 2003 | 19137   | 9.52         | 53    | Two Seater
Civic           | 2003 | 14071.9 | 8.62         | 41    | Compact
... (143 rows omitted)

Format an image

<img src="images/hybrid-car.png"/>

<img src="images/hybrid-car.png" width="200"/>

<img src="images/hybrid-car.png" height="800" width="1200"/>

<div style="text-align:center"><img src="images/hybrid-car.png" /></div>